body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
 @import url('https://fonts.google.com/specimen/Kalam?selection.family=Kalam|Luckiest+Guy|Open+Sans');

 @import url('https://fonts.googleapis.com/css?family=Lato|Permanent+Marker');
